* {
    box-sizing: border-box;
}

body {

    color: bisque;
    background-color: #b0e749;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0;
    padding-bottom: 0;
}

.header {
    height: 70px;
    background: #316019b9;
    padding-top: 20px;
    font-size: x-large;
}



.board {
    padding: 30px;
}

table {
    text-align: center;
    margin: 0px auto;
    color: rgb(17, 94, 25);
    font-size: large;
    table-layout: fixed;
}

.cell {
    height: 45px;
    width: 45px;
}

.cell:hover {
    background: #d5e9aea8;
    cursor: pointer;
}

.light {
    background: #cee96c;
}

.dark {
    background-color: #9ed54bb9;
}

.is-safe {
    background: #539bbd95;
}

.revealed {
    background: #c0cf69;
}

.btn {
    cursor: pointer;
    margin-left: 1%;
    --b: 3px;
    --s: .45em;
    --color: #3b5413;

    padding: calc(.2em + var(--s)) calc(.3em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover,
.btn:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.btn:active {
    background: var(--color);
    color: #fff;
}

.clock-img {
    width: 45px;
    border-radius: 50%;
    position: absolute;
}

.restart {

    margin-left: 50px;
    width: 45px;
    position: absolute;
    cursor: pointer;
}

.smile-img {
    margin-left: 140px;
    cursor: pointer;
    height: 45px;
    border-radius: 50%;


}

.featurs {
    position: absolute;
    display: inline-block;
    margin-left: 40%;
}

.timer {

    position: absolute;
    margin-top: 5px;
    margin-left: 59px;

}

.center {

    position: absolute;
    margin-left: 100px;
    margin-top: 5px;
    width: 200px;
}

.footer {

    margin-top: 0px;
    text-align: center;
    font-size: x-large;

}

.modal {
    width: 200px;
    height: 150px;
    border-radius: 20%;
    background-color: #efecc9;
    position: absolute;
    z-index: 1;
    margin-top: 70px;
    margin-left: 670px;
    opacity: 0.8;
    display: none;
    font-size: large;
    color: #3b5413;
}

.res-img {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;

}

.modal-txt {
    margin-left: 40px;
}

.sides {

    font-family: fantasy;
    font-weight: 100;
    position: absolute;
    margin-left: 450px;
    width: 160px;
    height: 70px;
    background: #c7b43731;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 20px;
    cursor: default;
}

.live {
    margin-top: 40px;
    background-color: #edda87be;
    color: #1ea4d5d0;
    padding-left: 35px;
}

.flag {
    background-color: #edda87be;
    color: #da533e;
    padding-left: 33px;
    margin-top: 120px;
}

.hints {
    background-color: #edda87be;
    margin-top: 200px;
    padding: 14px 7px;


}

.mega-hint {
    padding-top: 18px;
    cursor: pointer;
    margin-top: 280px;
    color: #5a590d7f;
    padding-left: 28px;
    background-color: #edda87be;
}

.hint {
    border-radius: 50%;
    width: 33px;
    margin-left: 13px;
    cursor: pointer;
}

.left {
    margin-left: 300px;

}

.best {
    margin-top: 85px;
    background-color: #edda87b3;
    color: #afa357f7;
}

.safe {
    margin-top: 163px;
    cursor: pointer;
    /* color: #92c5d195; */
    background: #cadcea8f;
    color: #445a625c;
}

.undo {
    margin-top: 242px;
    padding-top: 16px;
    padding-left: 62px;
    cursor: pointer;
    background: #eaa538e4;

}

.dark-mode {
    background-color: #1d1d1ca3;
}

.dark-btn {
    background: #6d8a5f;
    color: #ccd5ac;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 322px;
}

.exterminator {
    margin-top: 410px;
    color: #b78bd1eb;
    background-color: #edda8786;
    font-size: large;
    padding-top: 20px;
    cursor: pointer;
}

.bomb-mode {
    margin-top: 360px;
    padding-top: 18px;
    background-color: #edda87be;
    color: #262424cd;
    cursor: pointer;
}