* {
    box-sizing: border-box;
}

body {

    color: bisque;
    background-color: #b0e749;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0;
    padding-bottom: 0;
}

.header {
    display: flex;
    height: 70px;
    background: #316019b9;
    padding-block: 10px;
    font-size: 1.5rem;
    padding-inline: 10px;
    gap: 20%;
    width: 100%;
}

h3 {
    margin: 0;
}

.level-btns {
    display: flex;
    width: 250px;
}

.restart {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 210px;
    cursor: pointer;
    justify-self: center;
}

.clock-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.smile-img {
    cursor: pointer;
    height: 45px;
    border-radius: 50%;
}


.timer {
    line-height: 0;
    padding: 0;
    margin: 0;
}

.center {
    width: 200px;
}

.main-content {
    display: grid;
    width: 100%;
    max-width: 900px;
    grid-template-columns: 170px 1fr 170px;
    grid-template-rows: 1fr;
    padding-block: 25px;
    padding-inline: 25px;
    margin: auto;

}

.left-menu {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}

.right-menu {
    padding-top: 30px;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.board {
    grid-column: 2;
    grid-row: 1;
    padding: 30px;
}

table {
    text-align: center;
    margin: 0px auto;
    color: rgb(17, 94, 25);
    font-size: 1.2rem;
    table-layout: fixed;
}

.cell {
    height: 45px;
    width: 45px;
}

.cell:hover {
    background: #d5e9aea8;
    cursor: pointer;
}

.light {
    background: #cee96c;
}

.dark {
    background-color: #9ed54bb9;
}

.is-safe {
    background: #539bbd95;
}

.revealed {
    background: #c0cf69;
}

.btn {
    cursor: pointer;
    margin-left: 1%;
    --b: 3px;
    --s: .45em;
    --color: #3b5413;

    padding: calc(.2em + var(--s)) calc(.3em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover,
.btn:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.btn:active {
    background: var(--color);
    color: #fff;
}



.footer {
    margin-block: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.modal {
    width: 200px;
    height: 150px;
    border-radius: 20%;
    background-color: #efecc9;
    z-index: 1;
    position: absolute;
    margin-top: 70px;
    margin-left: 30%;
    opacity: 0.8;
    display: none;
    font-size: 1.2rem;
    color: #3b5413;
    padding-top: 30px;
    /* grid-row: 1;
    grid-column: 2; */
}

.res-img {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;

}

.modal-txt {
    margin-left: 40px;
}

.sides {
    display: flex;
    font-family: fantasy;
    font-weight: 100;
    width: 160px;
    height: max-content;
    background: #c7b43731;
    border-radius: 1rem;
    padding-block: 10px;
    padding-left: 20px;
}

.live {
    background-color: #edda87be;
    color: #1ea4d5d0;
    padding-left: 35px;
}

.flag {
    background-color: #edda87be;
    color: #da533e;
    padding-left: 33px;
}

.hints {
    background-color: #edda87be;
    padding: 14px 7px;
}

.mega-hint {
    padding-top: 18px;
    cursor: pointer;
    color: #5a590d7f;
    padding-left: 28px;
    background-color: #edda87be;
}

.hint {
    border-radius: 50%;
    width: 33px;
    margin-left: 13px;
    cursor: pointer;
}


.best {
    background-color: #edda87b3;
    color: #afa357f7;
}

.safe {
    cursor: pointer;
    background: #cadcea8f;
    color: #445a625c;
}

.undo {
    padding-top: 16px;
    padding-left: 62px;
    cursor: pointer;
    background: #eaa538e4;

}

.dark-mode {
    background-color: #1d1d1ca3;
}

.dark-btn {
    background: #6d8a5f;
    color: #ccd5ac;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 30px;
}

.exterminator {
    color: #b78bd1eb;
    background-color: #edda8786;
    font-size: 1.2rem;
    padding-top: 20px;
    cursor: pointer;
}

.bomb-mode {
    padding-top: 18px;
    background-color: #edda87be;
    color: #262424cd;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .header {
        gap: 10px;
        padding-inline: 5px;
    }

    .main-content {
        grid-template-columns: 120px 1fr;
        padding-inline: 10px;
    }

    .right-menu {
        width: 120px;
        grid-column: 1;
        grid-row: 1;
        margin-top: 230%;
    }

    .left-menu {
        grid-column: 1;
        grid-row: 1;
        width: 120px;
    }

    .sides {
        width: 120px;
        padding-inline: 5px;
        padding-top: 9px;
    }
    .exterminator{
        font-size: 0.9rem;
    }

    .live,
    .flag,
    .undo {
        padding-left: 32px;
    }

    .hints {
        padding: 0;
        padding-block: 5px;
    }

    .hint {
        width: 25px;
    }

    .btn{
        font-size: 0.7rem;
    }
    .clock-img {
        width: 25px;
        height: 25px;
    }
    
    .smile-img {
        cursor: pointer;
        height: 25px;
        }
        h3{
            font-size: 0.9rem;
        }
}